@use "/static/scss/variables.scss" as *;

.secondary-header{
    position: sticky;
    top: 0;
    border-bottom: 1px solid $border-bottom-n-s;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    background-color: $background-header-system;

    .btn-notification{
        display: grid;
        place-items: center;
        span{
            font-size: 2rem;
            color: $text-color-n-s;
        }
    }

    .user-in-header{
        display: flex;
        align-items: center;
        gap: 2rem;
        span{
            font-size: 1.2rem;
            font-weight: 600;
        }
        .user-menu{
            button{
                width: 3rem;
                aspect-ratio: 1/1;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .user-options{
                display: none;
            }
        }
        
    }
}

.info-header{
    background-color: #dbdbdb;
    height: 3rem;
    position: sticky;
    top: 5rem;
    border-bottom: 1px solid $border-bottom-n-s;
    display: flex;
    align-items: center;
    padding: 0 4rem;
}