{% import "catalog/macros/separator.html" as macro %}
{% import "catalog/macros/products.html" as macroProductCard %}


<section class="main-preview-products">
    {{ macro.separator("Novedades") }}
    <section class="product-list">
                {{ macroProductCard.product_card("https://i.ibb.co/z4BMSQ5/img3.jpg", "Camiseta", "Camisetas", "L", "Algodon", "300") }}
                {{ macroProductCard.product_card("https://i.ibb.co/qnJjQ1T/img4.jpg", "Camiseta", "Camisetas", "L", "Algodon", "300") }}
                {{ macroProductCard.product_card("https://i.ibb.co/gd1DDLv/img5.jpg", "Camiseta", "Camisetas", "L", "Algodon", "300") }}
                {{ macroProductCard.product_card("https://i.ibb.co/z4BMSQ5/img3.jpg", "Camiseta", "Camisetas", "L", "Algodon", "300") }}
    </section>

</section>
