{% import "catalog/macros/separator.html" as macro %}

<section class="main-preview-categories">
    {{ macro.separator("Categorias") }}

    <div class="category-box">
        <article class="categories">
            <article class="top">
                    <a href="#">
                        <span class="material-symbols-outlined">apparel</span>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined">checkroom</span>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined">styler</span>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined">business_center</span>
                    </a>
            </article>

            <article class="bottom">
                    <a href="#">
                        <span class="material-symbols-outlined">podiatry</span>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined">watch</span>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined">health_and_beauty</span>
                    </a>
                    <a href="#">
                        <span class="material-symbols-outlined">apparel</span>
                    </a>
            </article>
        </article>

        <article class="info">
            <h2>"Descubre todo lo que tenemos para ti"</h2>
            <p>En nuestra tienda, hemos organizado nuestros productos en categorìas para que encuentres justo lo que buscas de manera ràpida y sencilla</p>
        </article>
    </div>

</section>
