h1 {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}

form {
  width: 60%;
  margin: 0 auto;
}
form button {
  width: 100%;
  padding: 1rem;
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
form button:hover {
  background-color: #f55;
}