@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  border: 0;
  outline: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button,
input[type=button],
input[type=submit] {
  background: none;
  border: none;
  cursor: pointer;
}

input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

input[type=text],
input[type=password],
textarea {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

input[type=file] {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
}

legend {
  display: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0;
  text-align: left;
}

html {
  scroll-behavior: smooth;
}

.required {
  color: red;
  display: inline-block !important;
  font-weight: 700;
}

.alert-error {
  border: 1px solid rgb(152, 2, 2);
  color: #fff;
  background-color: rgb(250, 75, 75);
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
}

.alert-register {
  border: 1px solid rgb(2, 152, 27);
  color: #fff;
  background-color: rgb(75, 250, 157);
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
  margin: 1rem 0;
}
.input span {
  font-weight: 600;
  text-transform: uppercase;
}
.input input {
  padding: 0.4rem 1rem;
  border: 1px solid #000;
}
.input input::placeholder {
  color: #a0a0a0;
  font-style: italic;
}