@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.4;
  border: 0;
  outline: none;
  text-decoration: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

button,
input[type=button],
input[type=submit] {
  background: none;
  border: none;
  cursor: pointer;
}

input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

input[type=text],
input[type=password],
textarea {
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

input[type=file] {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

fieldset {
  border: none;
}

legend {
  display: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0;
  text-align: left;
}

html {
  scroll-behavior: smooth;
}

.required {
  color: red;
  display: inline-block !important;
  font-weight: 700;
}

.alert-error {
  border: 1px solid rgb(152, 2, 2);
  color: #fff;
  background-color: rgb(250, 75, 75);
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
}

.alert-register {
  border: 1px solid rgb(2, 152, 27);
  color: #fff;
  background-color: rgb(75, 250, 157);
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
}

.input {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  width: 100%;
  margin: 1rem 0;
}
.input span {
  font-weight: 600;
  text-transform: uppercase;
}
.input input {
  padding: 0.4rem 1rem;
  border: 1px solid #000;
}
.input input::placeholder {
  color: #a0a0a0;
  font-style: italic;
}

.separator {
  margin: 1.7rem 0 0.8rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.separator .title {
  width: 80%;
  color: #f3db95;
  font-size: 0.9rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 0.2rem;
}
.separator .line {
  display: block;
  width: 80%;
  height: 1px;
  background-color: #f3db95;
}

.main-header {
  position: sticky;
  height: 12vh;
  top: 0;
  background-color: #fff;
  color: #fd786c;
  border-top: 1rem solid #fd786c;
  border-bottom: 1px solid #fd786c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  z-index: 10;
}
.main-header .logo {
  display: flex;
  border: 2px solid #6bb9c5;
}
.main-header .logo .left-side {
  padding: 0 0.4rem;
  font-size: 1.3rem;
  font-weight: 700;
  color: #fff;
  background-color: #6bb9c5;
}
.main-header .logo .right-side {
  padding: 0 0.4rem;
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  color: #fd786c;
}
.main-header .main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2px;
}
.main-header .main-nav a {
  padding: 2px 10px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.main-header .main-nav a:hover {
  background-color: #6bb9c5;
  color: #fff;
}
.main-header .main-nav a i {
  font-size: 1rem;
}
.main-header .main-nav .btn-session {
  background-color: #fd786c;
  color: #fff;
}

.navbar-container {
  width: 100%;
  height: 100%;
  background-color: #4a4e5a;
  color: #f3db95;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.navbar-container div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-container div .nav-header {
  height: 5rem;
  border-bottom: 1px solid #f3db95;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.navbar-container div .nav-header .shopper {
  font-size: 1.3rem;
  font-weight: 700;
  color: background;
  background-color: #f3db95;
  padding: 0 0.4rem;
}
.navbar-container div .nav-header .admin {
  font-size: 1.3rem;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  color: #f3db95;
  padding: 0 0.4rem;
}
.navbar-container div .menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-container div .menu .nav-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navbar-container div .menu .nav-section .list {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.navbar-container div .menu .nav-section .list .list-item {
  width: 100%;
  display: block;
  overflow: hidden;
}
.navbar-container div .menu .nav-section .list .list-item .list-buttom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem 0;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
.navbar-container div .menu .nav-section .list .list-item .list-buttom .hide {
  visibility: hidden;
}
.navbar-container div .menu .nav-section .list .list-item .list-buttom:hover {
  background-color: #4a4e5a;
  border-bottom: 1px solid #f3db95;
  transform: scale(1.1);
}
.navbar-container div .menu .nav-section .list .list-item .list-buttom i {
  font-size: 1rem;
  width: 40%;
  text-align: center;
}
.navbar-container div .menu .nav-section .list .list-item .list-buttom span {
  font-size: 1rem;
  width: 60%;
}
.navbar-container div .menu .nav-section .list .list-item .list-show {
  height: 0;
  opacity: 0; /* Para la transición de visibilidad */
  text-align: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: height 0.3s ease, opacity 0.3s ease; /* Transición de altura y opacidad */
}
.navbar-container div .menu .nav-section .list .list-item .list-show .list-inside {
  background-color: #4a4e5a;
  border-bottom: 1px solid #f3db95;
}
.navbar-container div .menu .nav-section .list .list-item .list-show .list-inside a {
  color: rgba(243, 219, 149, 0.8);
  padding: 0.4rem;
  display: block;
}
.navbar-container div .menu .nav-section .list .list-item .arrow .list-show {
  height: auto; /* Deja que el contenido defina la altura */
  opacity: 1; /* Hace visible el submenú */
}
.navbar-container .config {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  font-size: 2rem;
  margin: 2rem;
}

form {
  width: 60%;
  margin: 0 auto;
}
form button {
  width: 100%;
  padding: 1rem;
  background-color: #f00;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}
form button:hover {
  background-color: #f55;
}

.main-body-system {
  display: flex;
  position: relative;
}
.main-body-system .main-nav {
  width: 17%;
  background-color: #4a4e5a;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-color: #8f96a1 #5e6472;
  scrollbar-width: thin;
}
.main-body-system .main-body {
  width: 83%;
}