@charset "UTF-8";
.separator {
  margin: 1.7rem 0 0.8rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.separator .title {
  width: 80%;
  color: #925016;
  font-size: 0.9rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-transform: uppercase;
  text-align: left;
  margin-bottom: 0.2rem;
}
.separator .line {
  display: block;
  width: 80%;
  height: 1px;
  background-color: #925016;
}

.nav-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-section .list {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}
.nav-section .list .list-item {
  width: 100%;
  display: block;
  overflow: hidden;
}
.nav-section .list .list-item .list-buttom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem 0;
  border-bottom: 1px solid transparent;
  cursor: pointer;
}
.nav-section .list .list-item .list-buttom .hide {
  visibility: hidden;
}
.nav-section .list .list-item .list-buttom:hover {
  background-color: #d4921e;
  border-bottom: 1px solid #d4921e;
  transform: scale(1.1);
}
.nav-section .list .list-item .list-buttom i {
  font-size: 1rem;
  width: 40%;
  text-align: center;
}
.nav-section .list .list-item .list-buttom span {
  font-size: 1rem;
  width: 60%;
}
.nav-section .list .list-item .list-show {
  height: 0;
  opacity: 0; /* Para la transición de visibilidad */
  text-align: center;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: height 0.3s ease, opacity 0.3s ease; /* Transición de altura y opacidad */
}
.nav-section .list .list-item .list-show .list-inside {
  background-color: #d4921e;
  border-bottom: 1px solid #925016;
}
.nav-section .list .list-item .list-show .list-inside a {
  color: #d4921e;
  padding: 0.4rem;
  display: block;
}
.nav-section .list .list-item .arrow .list-show {
  height: auto; /* Deja que el contenido defina la altura */
  opacity: 1; /* Hace visible el submenú */
}

.config .nav-section {
  border: 2px solid #d4921e;
}
.config .nav-section .list {
  width: 100%;
}