{% macro separator(label) %}
<div class="separator">
    <span class="title">{{ label }}</span>
    <span class="line"></span>
</div>
{% endmacro %}

{% macro nav_link(href, icon, text, extra) %}
<a href="{{ href }}" {{ extra }}>
    <i class="material-symbols-outlined">{{ icon }}</i>
    {{ text }}
</a>
{% endmacro %}

{% macro sys_nav_link(link, icon, name) %}
    <li class="list-item">
        <a href="{{ link }}" class="list-buttom">
            <i class="material-symbols-outlined">{{ icon }}</i>
            <span class="text">{{ name }}</span>
        </a>
    </li>
{% endmacro %}

