{% block title %}
    Registro
{% endblock %}

{% block main %}
<ul>
    <li><a href="/">Inicio</a>
    <li><a href="/register">Registrarse</a>
        <a href="/login">Iniciar sesion</a>
    </li>
</ul>

    <h1>Registro</h1>
    
    <form class="form" action="/register" method="post">
    
        <label for="username">
            <span>Usuario</span>
            <input type="text" name="username" id="username" placeholder="ej. Jhon Doe">
        </label>
    
        <label for="email">
            <span>Correo</span>
              <input type="email" name="email" id="email" placeholder="ej. jhondoe@gmail.com" required>
        </label>
    
        <label for="password">
            <span>Contraseña</span>
            <input type="password" name="password" id="password" placeholder="*****" required>
        </label>
    
        <span class="account">Tienes una cuenta? <a href="/login">Inicia sesión</a></span>
        <button id="btn_register">Enviar</button>
    
    </form>
{% endblock %}