@use "/static/scss/variables.scss" as *;

.main-body-system {
    display: flex;
    position: relative;
    .main-nav {
        width: 17%;
        height: 100vh;
        position: sticky;
        top: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-color: $scrollbar;
        scrollbar-width: thin;

    }
    .main-body {
        width: 83%;
    }
}