// generales

$mona-lisa-100: #ffe3e1;
$mona-lisa-200: #ffcdc8;
$mona-lisa-300: #ffa69e; // main
$mona-lisa-400: #fd786c;
$mona-lisa-500: #f54d3e;
$mona-lisa-600: #e23020;
$mona-lisa-700: #be2517;

$solitaire-100: #f8eec9; // main
$solitaire-200: #f3db95;
$solitaire-300: #ebc259;
$solitaire-400: #e4a82b;
$solitaire-500: #d4921e;
$solitaire-600: #b76f17;
$solitaire-700: #925016;

$cruise-100: #f1fcf9;
$cruise-200: #b8f2e6; // main
$cruise-300: #6adeca;
$cruise-400: #3cc5b2;
$cruise-500: #22aa99;
$cruise-600: #19887d;
$cruise-700: #186d65;

$powder-blue-100: #e8f3f6;
$powder-blue-200: #cce6eb;
$powder-blue-300: #aed9e0; // main
$powder-blue-400: #6bb9c5;
$powder-blue-500: #48a2af;
$powder-blue-600: #368493;
$powder-blue-700: #2d6b77;

$shuttle-gray-100: #eeeef0;
$shuttle-gray-200: #d8dadf;
$shuttle-gray-300: #b6bac3;
$shuttle-gray-400: #8f96a1;
$shuttle-gray-500: #717886;
$shuttle-gray-600: #5e6472; // main
$shuttle-gray-700: #4a4e5a;
$shuttle-gray-950: #25262c;

// colores principales
$primary: $mona-lisa-400;
$secondary: $powder-blue-400;

// estilos de la barra de navegacion lateral del sistema
$background-nav-system: $shuttle-gray-950;
$scrollbar: $shuttle-gray-500 $shuttle-gray-700;
$text: $solitaire-200;

// estilos de la barra de navegacion superior del sistema
$background-header-system: $shuttle-gray-200;
$border-bottom-n-s: $shuttle-gray-700;
$text-color-n-s: $shuttle-gray-950;

// estilos del cover del catalogo
$background-cover-gradient: $shuttle-gray-600 $shuttle-gray-700;
$background-cover: $shuttle-gray-600;
$cover-title: $primary;
$cover-text: $shuttle-gray-100;
$btnview: $primary;
$btnview-text: $shuttle-gray-100;
$btnview-hover: $mona-lisa-500;
$figures: $shuttle-gray-700;