<section class="main-cover">

    <article class="left-side-cover">
        <div class="title">
            <h1>VISTETE DE ESTILO</h1>
            <h2>VIVE LA VARIEDAD</h2>
        </div>
        <div class="text">
            En ShopperGlam encontrarás todo lo que necesitas para destacar.
            Ropa de moda, accesorios únicos y una amplia gama de productos
            que se adaptan a tu estilo y personalidad.
        </div>
        <button class="btn-view-catalog">
            <a href="/catalog">ver catálogo</a>
        </button>
    </article>

    <article class="right-side-cover">
        <div class="columns first">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
        </div>
        <div class="columns second">
            <div class="top"></div>
            <div class="middle"></div>
            <div class="bottom"></div>
        </div>
    </article>
</section>