<header class="secondary-header">

    <button class="btn-notification">
        <span class="material-symbols-outlined">
            notifications
        </span>
    </button>

    <div class="user-in-header">
        <div class="user-menu">
            <button>
                <img src="https://st4.depositphotos.com/9998432/27191/v/1600/depositphotos_271917462-stock-illustration-person-gray-photo-placeholder-man.jpg"  alt="">
            </button>
            <div class="user-options">
                    <a href="#">Perfil</a>
                    <a href="#">Configuración</a>
                    <a href="#">Cerrar sesión</a>
            </div>
        </div>
    </div>
    <a href="/logout">Salir</a>
</header> 

<div class="info-header">
    {{ context.url.page }}  <span class="material-symbols-outlined">chevron_right</span> 
    {% if context.url.sub_title %}
        {{ context.url.title }} <span class="material-symbols-outlined">chevron_right</span> 
        <b>{{ context.url.sub_title }}</b>
    {% else %}
        <b>{{ context.url.title }}</b>
    {% endif %}
</div>