{% import "utils/macros/links.html" as macro %}

<header class="main-header">
    <a href="/" class="logo">
        <span class="first">Shopper</span>
        <span class="second">Glam</span>
    </a>

    <nav class="main-nav">

        {{ macro.nav_link("/", "", "Inicio") }}
        {% if context.current_page.route == 'logout' %}
            {{ macro.nav_link("profile", "", "Perfil") }}
        {% endif %}
        {{ macro.nav_link("catalog", "", "Catálogo") }}
        
        {{ macro.nav_link(context.current_page.route, "", context.current_page.text) }}
        
    </nav>
</header>