{% extends 'layout.html' %}

{% import "utils/macros/input.html" as macro %}
{% set mainComponent = "catalog/utils/general_cmp/" %}

{% block title %}
    Iniciar Sesion
{% endblock %}

{% block main %}

    {% include mainComponent + "header.html" %}

    <h1>Iniciar sesion</h1>
    
    <form class="form auth-user" action="/login" method="post">

        {{ macro.inputSimple('Correo', 'email', 'email', 'ej. jhondoe@gmail.com', '', 'autofocus') }}    
    
        {{ macro.inputSimple('Contraseña', 'password', 'password', '********', '') }}
        
        <span class="account">Obten mas funcionalidades <a href="/login">Registrate</a></span>

        {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="show-message alert-{{ category }}">{{ message }}</div>
        {% endfor %}
        <button id="btn_register">Enviar</button>
    
    </form>

    <style>
        h1{
            text-align: center;
            font-size: 2rem;
            margin: 2rem;
        }
        form{
            width: 60%;
            margin: 0 auto;
            button{
                width: 100%;
                padding: 1rem;
                background-color: #f00;
                color: #fff;
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: .3s;
                &:hover{
                    background-color: #f55;
                }
            }
        }
    </style>

{% endblock %}